.page-header {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  display: table;
  padding: 0 3.1%;
  z-index: 20;

  color: #ffffff;

  transition-duration: .7s;
}

.main-nav {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;

  max-width: 35.9%;
  width: 100%;
  height: 100vh;
  padding-top: 145px;
  padding-left: 150px;

  box-shadow: -3.5px 3.5px 13.8px 1.2px rgba(0, 0, 0, 0.4);

  transition: background .7s ease;
  background: rgba(0,0,0,0.7);

}

.main-nav__blur {
  z-index: 30;

  position: fixed;
  top: 0;
  right: 0;

  max-width: 35.9%;
  width: 100%;
  height: 100vh;
  padding-top: 145px;
  padding-left: 150px;

  will-change: auto;

  background: rgba(0,0,0,0.5);
  filter: blur(5px);

  transition: background-color .7s;
}

.main-nav ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-nav__link {
  font-family: Intro;
  font-size: 24px;
  line-height: 2.5;
  color: #ffffff;

  transition-duration: .3s;
}

.main-nav__link:hover {
  color: #accc3d;
}

.main-nav__btn-close {
  position: absolute;
  top: 25px;
  right: 45px;
  display: block;
  width: 20px;
  height: 20px;

  background: url('../images/main-nav-close-white.png') no-repeat center;
  background-size: contain;

  cursor: pointer;

  transition: background-image .7s;
}


.opened {
  display: block;
}

.page-header__logo-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 300px;

}

.page-header__logo {
  position: relative;
  display: inline-block;
  width: 188px;
  height: 41px;
  margin-right: 5.4%;

  background: url('../images/logo-white.png') no-repeat center;
  background-size: contain;

  transition: background-image .7s;

}

.page-header-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.page-header__location-time-wrapper {
  display: table-cell;
  vertical-align: middle;

  margin-right: 12.1%;
  max-width: 470px;

  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.page-header__location {
  position: relative;
  display: inline-block;
  margin-right: 45px;
}
.page-header__location span {
  position: absolute;
  left: -22px;
  top: 3px;

  display: block;
  width: 12px;
  height: 18px;

  background: url('../images/header-label.png') no-repeat center;
  background-size: contain;
}

.page-header__time {
  position: relative;
  display: inline-block;
}

.page-header__time span {
  position: absolute;
  left: -22px;
  top: 6px;

  display: block;
  width: 13px;
  height: 13px;

  background: url('../images/header-clock.png') no-repeat center;
  background-size: contain;
}

.page-header__mail {
  display: inline-block;
  margin-right: 5.3%;
}

.page-header__mail a {
  display: inline-block;
  color: #ffffff;

  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.29;
  text-align: left;

  text-decoration: underline;

  transition-duration: .7s;
}

.page-header__tel {
  display: inline-block;
  margin-right: 10.5%;

  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 900;
  line-height: 1.33;
  text-align: left;

}

.page-header__tel-btn {
  z-index: 30;
  display: inline-block;
  width: 170px;
  height: 39px;
  padding-top: 5px;
  padding-left: 27px;

  border-radius: 19.5px;
  border: solid 2px #abcb3d;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #ffffff;

  text-align: left;

  transition: border .3s, color .7s;

  &:hover {
     border: solid 2px #63771e;
  }
}

.menu-btn {
  position: relative;
  top: 10px;
  float: right;

  cursor: pointer;
}

.burger {
  display: block;
  height: 20px;
  width: 27px;
  background: url('../images/burger-white.png') no-repeat center;
  background-size: contain;

  transition: background-image .7s;
}

@media (max-width: 1712px){
  .page-header__time {
    display: block;
  }

  .page-header__location {
    margin-right: 0;
  }

  .main-nav {
    padding-top: 7.5%;
    padding-left: 7.8%;
    padding-right: 0;
  }
}

@media (max-width: 1368px) {
  .page-header {
    padding: 0 3.1%;
    color: #ffffff;
}

  .main-nav {
    padding-top: 90px;
  }

  .main-nav__link {
    font-size: 21px;
    line-height: 2.2;
  }


}
@media (max-width: 1300px) {
  .page-header__mail {
    display: none;
  }
}

@media (max-width: 1210px) {
  .main-nav__link {
    display: block;
    margin-bottom: 23px;

    font-size: 19px;
    line-height: 1;
  }
}

@media (max-width: 1100px) {
  .page-header__logo {
    height: 35px;
    width: 160px;
  }

  .page-header-wrapper {
    padding-left: 15%;
  }

  .page-header__logo-wrapper {
    width: 240px;
  }

  .page-header__location-time-wrapper {
    display: none;
  }

  .page-header__tel {
    margin-right: 23%;
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 900px) {
  .main-nav {
    max-width: 43%;
    width: 100%;

  }

  .main-nav__blur {
    max-width: 43%;
    width: 100%;
  }

   .main-nav__link {
    display: block;
    margin-bottom: 20px;

    font-size: 17px;
  }
}

@media (max-width: 846px) {
  .page-header__tel-btn {
    display: none;
  }

  .menu-btn {
    top: 2px;
  }
}

@media (max-width: 552px) {
  .main-nav {
    max-width: 50%;
    width: 100%;

    padding-top: 60px;
  }

  .main-nav__blur {
    max-width: 50%;
    width: 100%;
  }

  .main-nav__btn-close {
    top: 20px;
    right: 27px;
  }

  .page-header__tel {
    display: none;
  }

  .main-nav__link {
    margin-bottom: 16px;

    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .main-nav {
    max-width: 100%;

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 80%;
    }
    
    &__link {
      font-size: 18px;
    }
  }
}