.section2 .container {
  padding: 0 15px;
}

.section2__title-wrapper {
  display: inline-block;
  max-width: 40%;
  width: 100%;
  margin-right: 80px;
  text-align: left;
  margin-top: 20px;
}

.section2__title {
  max-width: 378px;
  width: 100%;
  margin-bottom: 60px;

  font-family: Intro;
  font-size: 36px;
  line-height: 1.33;
  color: #030206;

  &::after {
    bottom: -30px;
  }
}

.section2__text {
  max-width: 363px;
  width: 100%;
  margin-bottom: 35px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 1.42;
  color: #030206;
}

.section2__items-wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.section2__item {
  position: relative;

  display: inline-block;
  vertical-align: top;
  text-align: left;

  max-width: 40%;
  width: 100%;
  min-height: 356px;
}

.section2__item-3-mob {
  display: none;
}

.section2__item-3 {
  margin-bottom: 25px;

  background: url('../images/frame3.png') no-repeat center;
  background-size: contain;
}

.section2__item-1 {
  margin-right: 80px;

  background: url('../images/frame1.png') no-repeat center;
  background-size: contain;

  &::after{
    content: '';
    position: absolute;
    top: 122px;
    right: -45px;

    display: block;
    width: 60px;
    height: 27px;

    background: url('../images/green-line-2.svg') no-repeat center / contain;
  }
}

.section2__item-2 {
  background: url('../images/frame2.png') no-repeat center;
  background-size: contain;

  &::after{
    content: '';
    position: absolute;
    top: -15px;
    right: 109px;
    transform: rotate(-90deg);

    display: block;
    width: 60px;
    height: 27px;

    background: url('../images/green-line-2.svg') no-repeat center / contain;
  }
}

.section2__item-text-wrapper {
  display: table-cell;

  padding-top: 219px;
  padding-left: 108px;
  vertical-align: middle;
}

.section2__item-icon {
  position: absolute;
  top: 75px;
  left: 149px;

  width: 102px;
  height: 102px;
}

.section2__item-icon-3 {
  background: url('../images/icon-smile-3.png') no-repeat center;
  background-size: contain;
}

.section2__item-icon-1 {
  background: url('../images/icon-phone-1.png') no-repeat center;
  background-size: contain;
}

.section2__item-icon-2 {
  background: url('../images/icon-clock-2.png') no-repeat center;
  background-size: contain;
}

.section2__item-digit {
  display: table-cell;

  font-family: Intro;
  font-size: 72px;
  color: #030206;
}

.section2__item-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 41px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #030206;
}

@media (max-width: 1368px) {

  .section2__title {
    margin-bottom: 45px;

    font-family: Intro;
    font-size: 32px;
    line-height: 1.2;

    &::after {
      bottom: -29px;
    }
  }

  .section2__text {
    max-width: 363px;

    margin-bottom: 44px;

    font-size: 20px;
    line-height: 1.22
  }

  .section2__title-wrapper {
    max-width: 434px;
    width: 100%;
    margin-right: 95px;
  }

  .section2__form-btn {

  }

  .section2__item {

    max-width: 434px;
    width: 100%;
    min-height: 280px;
  }

.section2__item-3 {
  margin-bottom: 29px;
}

.section2__item-1 {
  margin-right: 98px;

  &::after{
    content: '';
    position: absolute;
    top: 92px;
    right: -45px;

    display: block;
    width: 75px;
    height: 27px;

     background-size: contain;
  }
}

.section2__item-2 {
  background-size: contain;

  &::after{
    display: none;

  }
}

.section2__item-text-wrapper {
  display: table-cell;

  padding-top: 180px;
  padding-left: 68px;
  vertical-align: middle;
}

.section2__item-icon {
  position: absolute;
  top: 65px;
  left: 119px;

  width: 92px;
  height: 92px;
}

.section2__item-digit {
  display: table-cell;

  font-family: Intro;
  font-size: 62px;
  color: #030206;
}

.section2__item-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 41px;

  font-family: Roboto;
  font-size: 15px;
  line-height: 1.45;
  color: #030206;
  }
}

@media (max-width: 1025px) {
  .section2__title-wrapper {
    margin-right: 3.5%;
  }

  .section2__item-1 {
     margin-right: 3.5%;
  }

  .section2__item-1 {


    &::after{
     display: none;
  }
  }
}

@media (max-width: 960px) {
  .section2 {
    padding-bottom: 40px;
  }
}

@media (max-width: 939px) {

  .section2__title-wrapper {
    margin-bottom: 30px;
  }

  .section2__item {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    background-position: left;
  }

  .section2__item-3 {
    display: none;
  }

  .section2__item-3-mob {
    display: block;
  }

  .section2__item-text-wrapper-mob {
    position: absolute;
    top: 120px;
    left: -42px;

    max-width: 300px;
    width: 300px;
    padding: 0;

  }
}

@media (max-width: 430px) {
  .section2__item {
    min-height: 260px;
  }

  .section2__item-text-wrapper {
    padding-top: 155px;
    padding-left: 38px;
  }

  .section2__item-icon {
    top: 60px;
    left: 80px;

    width: 78px;
    height: 78px;
  }

  .section2__item-text-wrapper-mob {
    padding: 0;
    top: 96px;
  }

  .section2__item-digit {
    font-size: 52px;
  }

  .section2__item-text {
    line-height: 1.2;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 0;
  }
}

@media (max-width: 390px) {
  .section2__item {
    min-height: 240px;
    margin-bottom: 0;
  }

  .section2__item-icon {
    top: 60px;
    left: 50px;
  }

  .section2__item-text-wrapper {
    padding-top: 155px;
    padding-left: 15px;
  }

   .section2__item-text-wrapper-mob {
    padding: 0;
    top: 96px;
    left: -34px;
  }

}
