.section7 {
  background: url('../images/4-background.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.section7__title {
  margin-bottom: 65px;
  color: #fff;

  &::after {
    bottom: -34px;
  }
}

.section7__license-wrapper {
  max-width: 1000px;
  width: 100%;
}

.section7__text {
  margin-bottom: 64px;

  color: #fff;
  font-family: Roboto;
  font-size: 24px;
}

.section7__btn {
  margin-bottom: 80px;
}

.funcybox-section7 {
  display: inline-block;
  vertical-align: top;
  width: 147px;
  height: 208px;
  margin-right: 86px;
  margin-bottom: 68px;

  cursor: pointer;

  background-size: contain;
}
