.section8 {
  padding-bottom: 10px;
}

.section8-container {
  padding-right: 20px;
}

.section8__title {
   margin-bottom: 75px;

  font-family: Intro;
  font-size: 36px;
  color: #030206;

&::after {
    bottom: -38px;
  }
}

.section8__ask-wrapper {
  margin-bottom: 53px;
}

.section8__ask-wrapper-1,
.section8__ask-wrapper-2 {
  display: inline-block;
  vertical-align: top;
  max-width: 46%;
  width: 100%;
}

.section8__ask-wrapper-2 {
  width: 100%;
  max-width: 50%;
}

.section8__ask-wrapper-1 {
  margin-right: 30px;
}

.section8__ask {
  display: block;
  max-width: 576px;
  width: 100%;
  min-height: 32px;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 3px;
  margin-bottom: 10px;

  opacity: 0.7;
  background-color: #dcdcdc;

  font-family: Roboto;
  line-height: 1.4;
  font-size: 14px;
  color: #030206;

  transition-duration: .3s;

  &:hover {
    background: #c5db77;
  }
}

.section8__ask-wrapper-2 .section8__ask {
  max-width: 654px;
  width: 100%;
}

.section8__your-ask-text {
  max-width: 359px;
  width: 100%;
  margin-bottom: 15px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 1.42;
  color: #030206;
}

@media (max-width: 1440px) {
  .section8__title {
    margin-bottom: 60px;

    &::after {
    bottom: -28px;
    }

  }

  .section8__ask-wrapper {
    margin-bottom: 10px;
  }

  .section8__ask {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 1368px) {

  .section8-container {
    max-width: 1300px;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}

  .section8__title {
   margin-bottom: 45px;

&::after {
    bottom: -23px;
    }
  }

  .section8__ask-wrapper {
    padding-left: 20px;
    margin-bottom: 5px;
  }

  .section8__ask-wrapper {
    margin-bottom: 13px;
  }

  .section8__ask-wrapper-1 {
    margin-right: 14px;
  }

  .section8__ask {
    min-height: 30px;
    margin-bottom: 8px;

    line-height: 1.56;
  }

  .section8__your-ask-text {
    margin-bottom: 14px;

    font-family: Roboto;
    font-size: 22px;
    line-height: 1.22;
    color: #030206;
  }
}

@media (max-width: 1360px) {
  .section8__ask-wrapper-1 {
    max-width: 45%;
  }

  .section8__ask-wrapper-2 {
    max-width: 50%;
  }

  .section8__ask-wrapper {
    padding-left: 50px;
  }

}


@media (max-width: 960px) {

  .section8 {
    padding-bottom: 40px;
  }

  .section8-container {
    padding: 0 12px;
  }

  .section8__ask-wrapper {
    max-width: 100%;
    width: 100%;
  }

  .section8__ask-wrapper-1 {
    max-width: 100%;
  }

  .section8__ask-wrapper-2 {
    max-width: 100%;
  }

  .section8__ask-wrapper {
    padding-left: 0;
  }

  .section8__ask {
    max-width: 100%;
  }

  .section8__ask-wrapper-2 .section8__ask {
    max-width: 100%;
  }
}

