.section3 {
  background: url('../images/2-background.jpg') no-repeat center;
  background-size: cover;
}

.section__title.section3-title {
  margin-bottom: 83px;

  font-family: Intro;
  font-size: 36px;
  color: #ffffff;

  &::after {
    bottom: -45px;
  }
}

.section3__text {
  margin-bottom: 60px;

  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
}

.section3__big-slider {
  position: relative;

  display: inline-block;

  z-index: 10;
  max-width: 665px;
  width: 100%;
  min-height: 500px;
}

.big-slider__slide {
  width: 660px;
  height: 460px;
}

.big-slider__slide img {
  position: absolute;
  z-index: 10;
  margin: 0 auto;

}

.big-slider__slide-foto {
  z-index: 10;
}

.big-slider__slide-foto-1 {
  top: 10px;

}

.big-slider__slide-foto-2 {
  top: 20px;
  left: -100px;
}

.big-slider__slide-foto-3 {
  top: 35px;
  left: -20px;
}

.big-slider__slide-foto-4 {
  left: -180px;
}

.big-slider__slide-foto-5 {
  top: 20px;
  left: 40px;
}

.big-slider__slide-foto-4-img {
  position: absolute;
  top: 110px;
  left: 30px;

  z-index: 20;

  width: 430px;
  height: 269px;

  background: url('../images/laptop-foto.jpg') no-repeat center;
  background-size: contain;
}

.big-slider__slide-circle {
  position: absolute;

  z-index: 1;

  width: 459px;
  height: 459px;
  border: 50px solid rgba(79, 87, 100, 0.5);
  border-radius: 50%;
}

.section3__slider-counter-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  width: 100%;
}

.section3__min-slider {
  z-index: 20;

  display: inline-block;
  max-width: 299px;
  width: 100%;
  vertical-align: top;
  margin-bottom: 80px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}


.min-slider__icon {
  display: block;

  min-height: 82px;
  max-width: 80px;
  width: 100%;

  margin-bottom: 63px;

}

.min-slider__text {
  font-size: 16px;
}

.section3-btn-prev {
  position: relative;
  z-index: 20;

  width: 29px;
  height: 29px;
  padding: 0;

  background: #accc3d;

  border: none;
  box-shadow: none;
}

.section3-btn-next {
  position: relative;
  z-index: 20;

  width: 50px;
  height: 29px;
  width: 29px;
  padding: 0;
  background: #accc3d;

  border: none;
  box-shadow: none;
}



.section3-btn-next-arrow {
  position: absolute;
  top: 8px;
  left: 12px;

  width: 8px;
  height: 14px;
  background: url(../images/arrow-right.png) no-repeat center;
}

.section3-btn-prev-arrow {
  position: absolute;
  top: 8px;
  left: 9px;

  width: 8px;
  height: 14px;
  background: url(../images/arrow-left.png) no-repeat center;
}

.section3__counter {
  position: relative;
  margin-right: 30px;

  display: inline-block;
  vertical-align: top;
}

.section3__counter-big {
  font-family: Intro;
  font-size: 72px;
   color: #ffffff;
}

.section3__counter-min {
  position: absolute;
  right: -70px;
  bottom: 37px;

  font-family: Intro;
  font-size: 36.2px;
  color: rgba(255, 255, 255, 0.3);

  &::after {
    content: '';
    position: absolute;
    left: -16px;
    top: 8px;

    display: block;
    width: 5px;
    height: 26px;
    opacity: 0.3;
    background-color: #ffffff;
  }
}
