.section5 {
  padding-bottom: 30px;

  background: url('../images/3-background.png') no-repeat center;
  background-size: cover;
  color: #fff;
}

.section5__title {
  margin-bottom: 98px;

  font-family: Intro;
  font-size: 36px;
  color: #fff;


  &::after {
    bottom: -48px;
  }
}

.section5__text {
  max-width: 875px;
  width: 100%;
  margin-bottom: 78px;

  font-size: 16px;
  line-height: 1.63;
}

.section5__text div {
  margin-bottom: 26px;
}

@media (max-width: 960px) {
  .section5 {
    padding-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .section5__title {
    font-size: 24px;
    margin-bottom: 40px;

    &::after {
      bottom: -20px;
    }
  }

  .section5__text {
    text-align: center;
  }

  .section5__btn {
    margin-left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
