.section10 {
  position: relative;
}

.section10__wrapper-desc {
  margin-right: 151px;

}

.section10__title {
  margin-bottom: 92px;

  &::after {
    bottom: -47px;
  }

  font-family: Intro;
  font-size: 36px;
  color: #030206;
}

.section10__text {
  max-width: 420px;
  width: 100%;
  margin-bottom: 42px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 1.42;
  color: #030206;
}

.section10__btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 94px;
}

.section10__location,
.section10__time,
.section10__tel,
.section10__email {
  position: relative;

  margin-bottom: 52px;
  padding-left: 64px;

  font-size: 18px;
  color: #030206;
}

.section10__location-icon,
.section10__time-icon,
.section10__tel-icon,
.section10__email-icon {
  position: absolute;
  left: 0;
  top: -4px;
  display: block;
  width: 25px;
  height: 34px;
}

.section10__location-icon {
  background: url('../images/contacts-icon1.png') no-repeat center;
}

.section10__time-icon {
  background: url('../images/contacts-icon2.png') no-repeat center;
}

.section10__tel-icon {
  background: url('../images/contacts-icon3.png') no-repeat center;
}

.section10__email-icon {
  background: url('../images/contacts-icon4.png') no-repeat center;
}

.section10__tel {
  font-weight: 900;
  color: #030206;
}

.section10__email a {
  text-decoration: underline;
  color: #030206;
}

.section10__map {
  position: absolute;
  top: 110px;
  right: 0;


  display: block;
  width: 49.1%;
  height: 80vh;

  background: url('../images/map.jpg') no-repeat right;
  background-size: contain;
}

.section10__footer {
  width: 100%;
  min-height: 59px;
  padding: 0 40px;

  position: absolute;
  left: 0;
  bottom: 0;
}

.section10__footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  margin-right: 317px;
}

.section10__footer-copyright {
  margin-right: 110px;
  vertical-align: middle;
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  color: #030206;
}

.section10__footer-person-data {
  display: inline-block;
  vertical-align: middle;

  color: #accc3d;
}

.social-links {
  display: table-cell;
  vertical-align: middle;
  padding-left: 295px;
}

.social-links a {
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
  width: 26px;
  height: 19px;
}

.social-links__google {
  background: url('../images/social-icons-google.png') no-repeat center;
}

.social-links__mail {
  background: url('../images/social-icons-mail.png') no-repeat center;
}

.social-links__facebook {
  background: url('../images/social-icons-facebook.png') no-repeat center;
}

.social-links__vk {
  background: url('../images/social-icons-vk.png') no-repeat center;

}

.social-links__twitter {
  background: url('../images/social-icons-twitter.png') no-repeat center;
}

.social-links__google:hover {
  background: url('../images/social-icons-google-hover.png') no-repeat center;
}

.social-links__mail:hover {
  background: url('../images/social-icons-mail-hover.png') no-repeat center;
}

.social-links__facebook:hover {
  background: url('../images/social-icons-facebook-hover.png') no-repeat center;
}

.social-links__vk:hover {
  background: url('../images/social-icons-vk-hover.png') no-repeat center;

}

.social-links__twitter:hover {
  background: url('../images/social-icons-twitter-hover.png') no-repeat center;
}

.chile {
  position: relative;
  top: -30px;
  display: block;
  float: right;
  height: 41px;
  width: 62px;
  background: url(../images/chile-logo.png) no-repeat center;
}

.chile:hover {
  background: url(../images/chile-logo-hover.png) no-repeat center;
}

.section10__footer-wrapper .social-links {
  display: none;
}

.section10__footer-wrapper .chile{
  display: none;
}

@media (max-width: 1368px) {
  .section10__title {
    margin-bottom: 50px;
    &::after {
      bottom: -33px;
    }
  }
  .section10__text {
    margin-bottom: 22px;
  }

  .section10__btn {
    margin-bottom: 64px;
  }

  .section10__location,
  .section10__time,
  .section10__tel,
  .section10__email {
    margin-bottom: 42px;
  }

  .section10__map {
    top: 80px;
  }

  .section10__footer {
    min-height: 39px;
    height: 51px;
  }

  .section10__footer-wrapper {
    width: 48%;
  }

  .section10__footer-copyright {
    margin-right: 15%;
  }

  .social-links {
    padding-left: 8%;
  }
}

  @media (max-width: 857px) {
    .section10__map {
      display: none;
    }

    .social-links {
      padding-left: 0;
    }
  }

@media (max-width: 760px) {
  .section9__slider {
    max-width: 100%;
    width: 100%;
  }

  .section9__slide-wrapper {
    padding: 20px;
  }

  .section9__slide-text-wrapper {
    min-height: 30vh;
    max-width: 100%;
    width: 100%;
  }

  .section9__slide-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .section9__slide-title {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .social-links a {
    margin-right: 5px;
  }
}

@media (max-width: 619px) {
  .section10__footer {
    position: relative;
    min-height: 100px;
    height: 100px;
  }

  .section10__footer-wrapper {
    margin-right: 0;
  }

  .section10__wrapper-desc {
    max-width: 100%;
    width: 100%;
  }

  .social-links {
    display: none;
  }

 .chile{
    display: none;
  }

  .section10__footer-wrapper .social-links {
    display: block;
  }

  .section10__footer-wrapper .section10__footer-person-data {
    display: block;
    margin-bottom: 25px;
  }

  .section10__footer-wrapper .chile{
    display: block;
    float: none;

    margin-top: 45px;
  }

  .section10__footer-copyright {
    margin-bottom: 10px;
  }

}
