.section9 {
  padding-bottom: 10px;
  overflow: hidden;

  background: url('../images/5-background.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.section9__title {
  max-width: 393px;
  width: 100%;
  margin-bottom: 65px;

  font-family: Intro;
  font-size: 36px;
  line-height: 1.28;
  color: #ffffff;

  &::after {
    bottom: -30px;
  }
}

.section9__slider {
  display: inline-block;
  vertical-align: top;
  max-width: 745px;
  width: 100%;

  margin-bottom: 60px;
  margin-right: 64px;
}

.section9__slide-wrapper {
  max-width: 745px;
  min-height: 382px;
  padding-left: 65px;
  padding-top: 48px;
  padding-bottom: 30px;

  background-color: #ffffff;

  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  color: #030206;
}

.section9__slide-icon {
  display: inline-block;
  vertical-align: top;

  width: 118px;
  height: 118px;
  margin-right: 49px;

  background: url('../images/review-foto.png') no-repeat center;
}

.section9__slide-text-wrapper {
  display: inline-block;
  width: 394px;
}

.section9__slide-title {
  margin-bottom: 24px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #030206;
}

.section9__slide-text {
  font-size: 14px;
  line-height: 1.71;
  color: #030206;
}

.section9__counter {
  position: relative;
  margin-right: 30px;

  display: inline-block;
  padding-top: 155px;
}

.section9__btn {
  display: inline-block;
}


.section9-slider__arrows {
  position: absolute;
  bottom: -80px;

  width: 237px;
}

.section9__counter-big {
  font-family: Intro;
  font-size: 72px;
   color: #ffffff;
}

.section9__counter-min {
  position: absolute;
  right: -70px;
  bottom: 35px;

  font-family: Intro;
  font-size: 36.2px;
  color: rgba(255, 255, 255, 0.3);

  &::after {
    content: '';
    position: absolute;
    left: -16px;
    top: 8px;

    display: block;
    width: 5px;
    height: 26px;
    opacity: 0.3;
    background-color: #ffffff;
  }
}

@media (max-width: 1368px) {
  .section9__title {
    margin-bottom: 55px;

    &::after {
      bottom: -27px;
    }
  }

  .section9__slider {
    max-width: 710px;
    margin-bottom: 30px;
  }

  .section9__slide-wrapper {
    min-height: 332px;
  }

  .section9__slide-wrapper {
    padding-left: 44px;
  }

  .section9__slide-text-wrapper {
    max-width: 470px;
    width: 100%;
  }

  .section9__slide-title {
    margin-bottom: 14px;
  }

  .section9__slide-icon {
    margin-right: 35px;
  }

  .section9__counter {
    margin-right: 100px;
  }
}

@media (max-width: 1074px) {
  .section9__slider {
    max-width: 700px;
    margin-right: 10px;
  }

  .section3-btn-next-text {
    display: block;
  }

  .section3-btn-prev-text {
    display: block;
  }

  .section3-btn-prev {
    margin-right: 179px;
  }
}

@media (max-width: 998px) {
  .section3-btn-prev {
    margin-right: 139px;
  }

  .section3-btn-prev-text {
    right: -55px
  }

  .section3-btn-next-text {
    left: -61px
  }
}

@media (max-width: 960px) {
  .section9 {
    padding-bottom: 40px;
  }

  .section9__slider {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .section9__counter {
    display: block;
    width: 90px;
    margin: 0 auto;
    padding-top: 0;
  }

  .section9-slider__arrows {
    bottom: -50px;
    left: -75px;
  }

  .section3-btn-next-text {
    display: block;
  }

  .section3-btn-prev-text {
    display: block;
  }

  .section3-btn-prev {
    margin-right: 179px;
  }

  .section3-btn-prev-text {
    right: -73px
  }

  .section3-btn-next-text {
    left: -74px
  }

  .section9__counter {
    margin-bottom: 80px;
  }

  .section9__btn {
    display: block;
    width: 218px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .section9__title {
    font-size: 24px;
  }
}