.section7 {
  background: url('../images/4-background.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.section7__title {
  margin-bottom: 65px;
  color: #fff;

  &::after {
    bottom: -34px;
  }
}

.section7__license-wrapper {
  max-width: 1000px;
  width: 100%;
}

.section7__text {
  margin-bottom: 64px;

  color: #fff;
  font-family: Roboto;
  font-size: 24px;
}

.section7__btn {
  margin-bottom: 80px;
}

.funcybox-section7 {
  display: inline-block;
  vertical-align: top;
  width: 147px;
  height: 208px;
  margin-right: 86px;
  margin-bottom: 68px;

  cursor: pointer;

  background-size: contain;
}

@media (max-width: 1440px) {
  .section7__title {
    margin-bottom: 55px;
  }

  .section7__text {
    margin-bottom: 54px;
  }

  .section7__btn {
    margin-bottom: 65px;
  }

  .funcybox-section7 {
    width: 130px;
    height: 190px;
    margin-bottom: 58px;
  }

}

@media (max-width: 1368px) {
  .section7__title {
    margin-bottom: 45px;
    color: #fff;

    &::after {
      bottom: -27px;
    }
  }

  .section7__text {
    margin-bottom: 25px;
  }

  .section7__btn {
    margin-bottom: 30px;
  }

  .section7__license-wrapper {
    max-width: 700px;
  }

  .funcybox-section7 {
    height: 160px;
    width: 110px;
    margin-bottom: 30px;
    margin-right: 50px;
  }

  .funcybox-section7 img {
    height: 160px;
    width: 110px;
  }
}


@media (max-width: 960px) {
  .section7 {
    padding-bottom: 40px;
  }
}

@media (max-width: 350px) {
  .funcybox-section7:nth-child(2n) {
    margin-right: 0;
  }
}
