doctype html
head
  title Mollavto Lombard
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
  link(rel="stylesheet" href="stylesheets/app.css")
body
  header.page-header
    .page-header__logo-wrapper
      a(href="#").page-header__logo
    .page-header__location-time-wrapper
      .page-header__location
        span
        | 454048, г. Челябинск, ул. Образцова, 25
      .page-header__time
        span
        |  с пн.-пт. с 9-00 до 19-00
    .page-header-wrapper
      .page-header__mail
        a(href= "mailto:moll.avtolombard@mail.ru")
          | moll.avtolombard@mail.ru
      .page-header__tel
        | +7 922 183-12-52
      a(href="#").page-header__tel-btn
        | Заказать звонок
      .menu-btn
        a(href="#").burger
  .page-header.main-nav.hidden
    .main-nav__btn-close
    ul
      li
        a(href="#page-1").main-nav__link
          | Home
      li
        a(href="#page-2").main-nav__link
          | процесс получения займа
      li
        a(href="#page-3").main-nav__link
          | Преимущества
      li
        a(href="#page-4").main-nav__link
          | Ставки и условия
      li
        a(href="#page-5").main-nav__link
          | О компании
      li
        a(href="#page-6").main-nav__link
          | Условия займа
      li
        a(href="#page-7").main-nav__link
          | Лицензии и документы
      li
        a(href="#page-8").main-nav__link
          | Часто задаваемые вопросы
      li
        a(href="#page-9").main-nav__link
          | Отзывы клиентов
      li
        a(href="#page-10").main-nav__link
          | Контакты
  div#fullpage
    .section.section1
      .container
        .section__title.section1-title
          .section1__title1
            | ДЕНЬГИ ПОД ПТС
          .section1__title2
            | Автомобиль остается у Вас
        .section1__text
          | Для подачи заявки на займ под ПТС оставьте Ваши данные ниже и мы сами свяжемся с Вами в течении 2 минут
        form(action="#" method="#").section1__form
          input(type="text" name="your-name" placeholder="Имя").section1__form-text
          input(type="tel" name="your-tel" placeholder="Телефон").section1__form-text.section1__form-tel
          label.checkbox-wrapper
            .checkbox-wrapper__checkbox
              input(type="checkbox").section1__form-checkbox
              .checkbox
                span.checkbox__circle
                span.checkbox__yes.checkbox-active
                  | да
            .checkbox-wrapper__text
              .checkbox-wrapper__text-1
                | Даю согласие на
                =' '
                a(href="#")
                  | Обработку персональных данных
              .checkbox-wrapper__text-2
                | Ваши данные не будут переданы третьим лицам
          a(href="#").btn.section1__form-btn
            | Звоните
        .section1__features
          .section1__features-item
            .section1__features-item-icon.section1__features-item-icon-1
            .section1__features-item-text
              | При заключении договора, деньги наличными сразу
          .section1__features-item
            .section1__features-item-icon.section1__features-item-icon-2
            .section1__features-item-text
              | Пересчет процентов за пользование займом по дням
          .section1__features-item
            .section1__features-item-icon.section1__features-item-icon-3
            .section1__features-item-text
              | Не требуются доверенность или договор купли-продажи

    .section.section2
      .container
        .section2__title-wrapper
          .section__title.section2__title
            | процесс получения займа
          .section2__text
            | Три простых шага к получению нужной Вам денежной суммы
          a(href="#").btn.section2__form-btn
            | Получить займ
        .section2__item.section2__item-3
          .section2__item-icon.section2__item-icon-3
          .section2__item-text-wrapper
            .section2__item-digit
              | 03
            .section2__item-text
              | Приезжайте
              br.section2__item-text
              | за своими деньгами
        .section2__item.section2__item-1
          .section2__item-icon.section2__item-icon-1
          .section2__item-text-wrapper
            .section2__item-digit
              | 01
            .section2__item-text
              | Позвоните или оставьте
              br.section2__item-text
              | номер телефона
        .section2__item.section2__item-2
          .section2__item-icon.section2__item-icon-2
          .section2__item-text-wrapper
            .section2__item-digit
              | 02
            .section2__item-text
              | Узнайте решение
              br.section2__item-text
              | в течение 30 минут

    .section.section3
      .container
        .section__title.section3-title
          | преимущества
        .section3__text
          | Почему Вам  выгодно взять займ у нас
        .section3__big-slider
          .big-slider__slide.big-slider__slide-1
            .big-slider__slide-circle
            img(src="../images/features-slide1.png").big-slider__slide-foto-1

          .big-slider__slide.big-slider__slide-2
            .big-slider__slide-circle
            img(src="../images/features-slide2.png").big-slider__slide-foto-2

          .big-slider__slide.big-slider__slide-3
            .big-slider__slide-circle
            img(src="../images/features-slide3.png").big-slider__slide-foto-3

          .big-slider__slide.big-slider__slide-4
            .big-slider__slide-circle
            img(src="../images/features-slide4.png").big-slider__slide-foto-4

            .big-slider__slide-foto-4-img
          .big-slider__slide.big-slider__slide-5
            .big-slider__slide-circle
            img(src="../images/features-slide5.png").big-slider__slide-foto-5

        .section3__slider-counter-wrapper
          .section3__min-slider
            .min-slider__slide-1
              .min-slider__icon.min-slider__icon-1
                img(src="../images/features-icon1.png")
              .min-slider__text
                | Не требуем генеральной доверенности и договор купли-продажи
            .min-slider__slide-2
              .min-slider__icon.min-slider__icon-2
                img(src="../images/features-icon2.png")
              .min-slider__text
                | Пересчет процентов
                br.min-slider__text
                | за пользование займом по дням
            .min-slider__slide-3
              .min-slider__icon.min-slider__icon-3
                img(src="../images/features-icon3.png")
              .min-slider__text
                | При заключении договора,
                br.min-slider__text
                | деньги наличными сразу
            .min-slider__slide-4
              .min-slider__icon.min-slider__icon-4
                img(src="../images/features-icon3.png")
              .min-slider__text
                | Высокая лояльность к клиентам
            .min-slider__slide-5
              .min-slider__icon.min-slider__icon-5
                img(src="../images/features-icon3.png")
              .min-slider__text
                | Работаем официально, состоим
                br.min-slider__text
                | на учете в ЦБ
          .section3__counter
            span.section3__counter-big
              | 01
            =" "
            span.section3__counter-min
          .section3-slider__arrows
    .section.section4
      .container
        .section__title.section4__title
          | ставки, условия
        .section4__text
          | Меньше сроки - меньше процент!
        .section4__seven
        .section4__percent
          .section4__percent-text-1
            | Низкий процент ставок!
          .section4__percent-text-2
            | Меньше сроки меньше процент!
        .section__passport
          .section__passport-wrapper
            .section__passport-item
              .section__passport-icon.section4__passport-icon-1
              .section__passport-text
                | Паспорт
                br.section__passport-text-br
                | гражданина РФ
            .section__passport-item
              .section__passport-icon.section4__passport-icon-2
              .section__passport-text
                | Паспорт технического
                br.section__passport-text-br
                | средства (ПТС)
            .section__passport-item
              .section__passport-icon.section4__passport-icon-3
              .section__passport-text
                | Свидетельство о регистрации
                br.section__passport-text-br
                | транспортного средства
            .section__passport-item
              .section__passport-icon.section4__passport-icon-4
              .section__passport-text
                | Комплект ключей
                br.section__passport-text-br
                | и брелоков
    .section.section5
      .container
        .section__title.section5__title
          | о компании
        .section5__text
          div
            | Займ под залог - на сегодня это единственный способ получить крупную сумму под небольшой процент.
          div
            | Кредиты под залог автомобиля выдают многие автоломбарды, но немногие предоставляют кредиты с возможностью пользования автомобилем.
          div
            | Вы сможете пользоваться собственным авто все время действия договора по программе " Авто остается у Вас". Не нужно расставаться с собственным авто, не нужно оставлять его на стоянке автоломбарда, переживать за его сохранность, надеясь на порядочность кредитора.
          div
            | Используйте свой автомобиль с максимальной выгодой для себя и своих близких.
        a(href="#").btn.section5__btn
          | Получить займ
    .section.section6
      .container
        .section__title.section6__title
          | условия займа
        .section6__text
          | Необходимые требования для получения займа
        .section6__content
          .section6__content-block.section6__content-block-1
            .section6__content-block-icon.section6__content-block-icon-1
            .section6__content-block-title
              | Требования к заемщику
            ul
              li
                | Гражданство РФ
              li
                | Заемщик является собственником автотранспортного средства
              li
                | Место постоянного проживания
                br
                | и прописка в Свердловской области
              li
                | Отсутствие исполнительных производств
          .section6__content-block
            .section6__content-block-icon.section6__content-block-icon-2
            .section6__content-block-title
              | Требования к автомобилю
            ul
              li
                | Автомобиль должен быть на ходу, технически исправным
              li
                | Право собственности зарегистрировано в ГИБДД
              li
                | Не заложен в банке и не обременен правами третьих лиц
              li
                | Отсутствие арестов и ограничений
        .section__passport
          .section__passport-wrapper
            .section__passport-item
              .section__passport-icon.section4__passport-icon-1
              .section__passport-text
                | Паспорт гражданина РФ
            .section__passport-item
              .section__passport-icon.section4__passport-icon-2
              .section__passport-text
                | Паспорт технического средства (ПТС)
            .section__passport-item
              .section__passport-icon.section4__passport-icon-3
              .section__passport-text
                | Свидетельство о регистрации транспортного средства
            .section__passport-item
              .section__passport-icon.section4__passport-icon-4
              .section__passport-text
                | Комплект ключей и брелоков
    .section.section7
      .container
        .section__title.section7__title
          | лицензии и документы
        .section7__text
          | Взяв у нас займ, Вы ни чем не рискуете. Мы работаем открыто!
        a(href="#").btn.section7__btn
          | Получить займ
        .section7__license-wrapper
          .section7__license.section7__license-1
          .section7__license.section7__license-2
          .section7__license.section7__license-3
          .section7__license.section7__license-4
          .section7__license.section7__license-5
          .section7__license.section7__license-6
          .section7__license.section7__license-7
          .section7__license.section7__license-8
    .section.section8
      .container.section8-container
        .section__title.section8__title
          | часто задаваемые вопросы
        .section8__ask-wrapper
          .section8__ask-wrapper-1
            a(href="#").section8__ask.section8__ask-1
              | 1. Сколько денег я получу за свой автомобиль (процент от стоимости авто)?
            a(href="#").section8__ask.section8__ask-2
              | 2. Если на руках дубликат ПТС (потерян ПТС, кончилось место в ПТС т.д.)?
            a(href="#").section8__ask.section8__ask-3
              | 3. Как быстро я смогу получить ПТС после оплаты займа?
            a(href="#").section8__ask.section8__ask-4
              | 4. Нужно ли приезжать в офис на автомобиле? Что, если автомобиль не на ходу?
            a(href="#").section8__ask.section8__ask-5
              | 5. Нужно ли оформлять на Молл-Авто ломбард генеральную доверенность?
            a(href="#").section8__ask.section8__ask-6
              | 6. Нужно ли выезжать еще куда-то для заключения договора?
            a(href="#").section8__ask.section8__ask-7
              | 7. Что будет при просрочке платежей?
            a(href="#").section8__ask.section8__ask-8
              | 8. При просрочке платежей смогут забрать мое авто?
            a(href="#").section8__ask.section8__ask-9
              | 9. Если долго не вносить платежи (месяц, два) или нет денег для того, чтобы вносить платежи регулярно, что будет?
          .section8__ask-wrapper-2
            a(href="#").section8__ask.section8__ask-10
              | 10. Какие документы могут быть необходимы для получения заёмных денег под ПТС?
            a(href="#").section8__ask.section8__ask-11
              | 11. Если я использую автомобиль по доверенности, могу ли я получить деньги, заложив ПТС?
            a(href="#").section8__ask.section8__ask-12
              | 12. Автомобиль взят в кредит, ПТС находится в банке. Можно ли в таком случае взять займ?
            a(href="#").section8__ask.section8__ask-13
              | 13. После оплаты суммы займа возникают ли скрытые проценты?
            a(href="#").section8__ask.section8__ask-14
              | 14. Ставится ли какая-либо отметка о залоге в ПТС?
            a(href="#").section8__ask.section8__ask-15
              | 15. Какие документы после заключения сделки останутся в Молл-Автоломбард?
            a(href="#").section8__ask.section8__ask-16
              | 16. У меня нет второго комплекта ключей?
            a(href="#").section8__ask.section8__ask-17
              | 17. Я могу получить займ если на автомобиль наложен арест или запрет на регистрационные действия?
        .section8__your-ask
          .section8__your-ask-text
            | Если не нашли что искали
            br.section8__your-ask-text-br
            | Вы можете задать свой вопрос
          a(href="#").btn.section8__btn
            | Задать вопрос
    .section.section9
      .container
        .section__title.section9__title
          | отзывы клиентов о работе с нами
        .section9__slider
          .section9__slide.section9__slide-1
            .section9__slide-wrapper
              .section9__slide-icon
              .section9__slide-text-wrapper
                .section9__slide-title
                  | Вася
                .section9__slide-text
                  p
                    | Кредиты под залог автомобиля выдают многие автоломбарды, но немногие предоставляют кредиты с возможностью пользования автомобилем. Вы сможете пользоваться собственным авто все время действия договора по программе " Авто остается у Вас".
                  p
                    | Не нужно расставаться с собственным авто, не нужно оставлять его на стоянке автоломбарда, переживать за его сохранность, надеясь на порядочность кредитора. Используйте свой автомобиль с максимальной выгодой для себя и своих близких.
          .section9__slide.section9__slide-2
            .section9__slide-wrapper
              .section9__slide-icon
              .section9__slide-text-wrapper
                .section9__slide-title
                  | Вася
                .section9__slide-text
                  | Текст2
          .section9__slide.section9__slide-2
            .section9__slide-wrapper
              .section9__slide-icon
              .section9__slide-text-wrapper
                .section9__slide-title
                  | Вася
                .section9__slide-text
                  | Текст3
          .section9__slide.section9__slide-2
            .section9__slide-wrapper
              .section9__slide-icon
              .section9__slide-text-wrapper
                .section9__slide-title
                  | Вася
                .section9__slide-text
                  | Текст4
          .section9__slide.section9__slide-2
            .section9__slide-wrapper
              .section9__slide-icon
              .section9__slide-text-wrapper
                .section9__slide-title
                  | Вася
                .section9__slide-text
                  | Текст5
        .section9__counter
          span.section9__counter-big
            | 01
          =" "
          span.section9__counter-min
          .section9-slider__arrows
        a(href="#").btn.section9__btn
            | Оставить отзыв
    .section.section10
      .container.section10__container
        .section10__wrapper-desc
          .section__title.section10__title
            | контакты
          .section10__text
            | Вы можете оставить Ваши контакты и мы сами свяжемся с Вами
          a(href="#").btn.section10__btn
            | Оставить контакты
          .section10__location
            span.section10__location-icon
            | 454048, г. Челябинск, ул. Образцова, 25
          .section10__time
            span.section10__time-icon
            | с пн.-пт. с 9-00 до 19-00
          .section10__tel
            span.section10__tel-icon
            | +7 922 183-12-52
          .section10__email
            span.section10__email-icon
            a(href= "mailto:moll.avtolombard@mail.ru")
              | moll.avtolombard@mail.ru
      #map.section10__map

      .section10__footer
        .section10__footer-wrapper
          .section10__footer-copyright
            | © Mollavtolombard 2017
          a(href="#").section10__footer-person-data
            | Обработка персональных данных
        .social-links
          a(href="#").social-links__google
          a(href="#").social-links__mail
          a(href="#").social-links__facebook
          a(href="#").social-links__vk
          a(href="#").social-links__twitter
        a(href="#").chile
  .popup__phone.hidden
    .overlay
      .popup__container
        .popup__btn-close.popup__btn-close-phone
        .popup__title.popup__phone-title
          | Закажите звонок
        .popup__text.popup__phone-text
          | Для подачи заявки на займ под ПТС оставьте Ваши данные ниже и мы сами свяжемся с Вами в течении 2 минут
        form(action="#" method="#").popup__phone-form
          input(type="text" name="phone-name" placeholder="Имя").popup__phone-form-input
          input(type="tel" name="phone-phone" placeholder="Телефон").popup__phone-form-input
        label.checkbox-wrapper
          .checkbox-wrapper__checkbox
            input(type="checkbox").section1__form-checkbox
            .checkbox.popup__checkbox
              span.checkbox__circle
              span.checkbox__yes.checkbox-active
                | да
          .checkbox-wrapper__text.checkbox-wrapper__text-popup
            .checkbox-wrapper__text-1
              | Даю согласие на
              =' '
              a(href="#")
                | Обработку персональных данных
            .checkbox-wrapper__text-2
              | Ваши данные не будут переданы третьим лицам
        a(href="#").btn.popup__btn
          | Заказать звонок
  .popup__ask.hidden
    .overlay
      .popup__container
        .popup__btn-close.popup__btn-close-ask
        .popup__title.popup__ask-title
          | Задайте вопрос
        .popup__text.popup__ask-text
          | Если не нашли что искали, Вы можете задать свой вопрос, указав имя и почту. И мы сразу ответим Вам!
        form(action="#" method="#").popup__phone-form
          input(type="text" name="ask-name" placeholder="Имя").popup__phone-form-input
          input(type="email" name="ask-emain" placeholder="E-mail").popup__phone-form-input
          textarea(name="ask-area").popup__phone-form-textarea
        label.checkbox-wrapper
          .checkbox-wrapper__checkbox
            input(type="checkbox").section1__form-checkbox
            .checkbox.popup__checkbox
              span.checkbox__circle
              span.checkbox__yes.checkbox-active
                | да
          .checkbox-wrapper__text.checkbox-wrapper__text-popup
            .checkbox-wrapper__text-1
              | Даю согласие на
              =' '
              a(href="#")
                | Обработку персональных данных
            .checkbox-wrapper__text-2
              | Ваши данные не будут переданы третьим лицам
        a(href="#").btn.popup__btn
          | Задать вопрос
  .popup__review.hidden
    .overlay
      .popup__container
        .popup__btn-close.popup__btn-close-review
        .popup__title.popup__review-title
          | Оставьте ваш отзыв
        .popup__text.popup__review-text
          | Если Вы воспользовались нашими услугами, напишите отзыв о работе с нами!
        form(action="#" method="#").popup__phone-form
          input(type="text" name="review-name" placeholder="Имя").popup__phone-form-input
          textarea(name="review-area").popup__phone-form-textarea
        label.checkbox-wrapper
          .checkbox-wrapper__checkbox
            input(type="checkbox" checked).section1__form-checkbox
            .checkbox.popup__checkbox
              span.checkbox__circle
              span.checkbox__yes.checkbox-active
                | да
          .checkbox-wrapper__text.checkbox-wrapper__text-popup
            .checkbox-wrapper__text-1
              | Даю согласие на
              =' '
              a(href="#")
                | Обработку персональных данных
            .checkbox-wrapper__text-2
              | Ваши данные не будут переданы третьим лицам
        a(href="#").btn.popup__btn
          | Оставить отзыв
  .popup__success-phone.hidden
    .overlay
      .popup__container.popup__success-container
        .popup__btn-close.popup__btn-close-success-phone
        .popup__success-img
        .popup__title.popup__success-title
          | Благодарим за обращение!
        .popup__text.popup__success-text
          | Ваши данные отправлены, мы свяжемся с Вами в течении 2 минут
  .popup__success-ask.hidden
    .overlay
      .popup__container.popup__success-container.popup__success-container-ask
        .popup__btn-close.popup__btn-close-success-ask
        .popup__success-img
        .popup__title.popup__success-title
          | Благодарим за обращение!
        .popup__text.popup__success-text
          | Ваш вопрос отправлен, мы ответим Вам как только увидим письмо
  .popup__success-review.hidden
    .overlay
      .popup__container.popup__success-container.popup__success-container-review
        .popup__btn-close.popup__btn-close-success-review
        .popup__success-img
        .popup__title.popup__success-title
          | Благодарим за отзыв!
        .popup__text.popup__success-text.popup__success-text-review
          | Нам очень важна обратная связь клиентов. Ваш отзыв будет опубликован!
  .popup__slider
    .overlay
      .popup__container.popup__container-slider
        .popup__btn-close.popup__btn-close-slider
        .button-go-to
        .popup__slids
          .popup__slid.popup__slid-1
            .popup__slider-title
              | 1. Сколько денег я получу за свой автомобиль (процент от стоимости авто)?
            .popup__slider-text
              | текст
          .popup__slid.popup__slid-2
            .popup__slider-title
              | 2. Если на руках дубликат ПТС (потерян ПТС, кончилось место в ПТС т.д.)?
            .popup__slider-text
              | текст2
          .popup__slid.popup__slid-3
            .popup__slider-title
              | 3. Как быстро я смогу получить ПТС после оплаты займа?
            .popup__slider-text
              | текст3
          .popup__slid.popup__slid-4
            .popup__slider-title
              | 4. Нужно ли приезжать в офис на автомобиле? Что, если автомобиль не на ходу?
            .popup__slider-text
              | текст4
          .popup__slid.popup__slid-5
            .popup__slider-title
              | 5. Нужно ли оформлять на Молл-Авто ломбард генеральную доверенность?
            .popup__slider-text
              | текст5
          .popup__slid.popup__slid-6
            .popup__slider-title
              | 6. Нужно ли выезжать еще куда-то для заключения договора?
            .popup__slider-text
              | текст6
          .popup__slid.popup__slid-7
            .popup__slider-title
              | 7. Что будет при просрочке платежей?
            .popup__slider-text
              | Мы всегда стараемся быть лояльными к нашим клиентам, поэтому, хотя при просрочке платежа и начисляются пени в размере 1,5% в день, в большинстве случаев мы решаем проблему с клиентом индивидуально и не накладываем штрафы. Бонусом сможет стать то, что вы предупредите заранее о том, что не сможете произвести платеж в назначенное время. А что бы исключить начисление пени можете поставить автомобиль на нашу охраняемую
          .popup__slid.popup__slid-8
            .popup__slider-title
              | 8. При просрочке платежей смогут забрать мое авто?
            .popup__slider-text
              | текст8
          .popup__slid.popup__slid-9
            .popup__slider-title
              | 9. Если долго не вносить платежи (месяц, два) или нет денег для того, чтобы вносить платежи регулярно, что будет?
            .popup__slider-text
              | текст9
          .popup__slid.popup__slid-10
            .popup__slider-title
              | 10. Какие документы могут быть необходимы для получения заёмных денег под ПТС?
            .popup__slider-text
              | текст10
          .popup__slid.popup__slid-11
            .popup__slider-title
              | 11. Если я использую автомобиль по доверенности, могу ли я получить деньги, заложив ПТС?
            .popup__slider-text
              | текст11
          .popup__slid.popup__slid-12
            .popup__slider-title
              | 12. Автомобиль взят в кредит, ПТС находится в банке. Можно ли в таком случае взять займ?
            .popup__slider-text
              | текст12
          .popup__slid.popup__slid-13
            .popup__slider-title
              | 13. После оплаты суммы займа возникают ли скрытые проценты?
            .popup__slider-text
              | текст13
          .popup__slid.popup__slid-14
            .popup__slider-title
              | 14. Ставится ли какая-либо отметка о залоге в ПТС?
            .popup__slider-text
              | текст14
          .popup__slid.popup__slid-15
            .popup__slider-title
              | 15. Какие документы после заключения сделки останутся в Молл-Автоломбард?
            .popup__slider-text
              | текст15
          .popup__slid.popup__slid-16
            .popup__slider-title
              | 16. У меня нет второго комплекта ключей?
            .popup__slider-text
              | текст16
          .popup__slid.popup__slid-17
            .popup__slider-title
              | 17. Я могу получить займ если на автомобиль наложен арест или запрет на регистрационные действия?
            .popup__slider-text
              | текст17
        .popup__slider__counter
          span.popup__slider__counter-big
            | 01
          =" "
          span.popup__slider__counter-min
        .popup-slider__arrows

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
