doctype html
head
  title Mollavto Lombard
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
  link(rel="stylesheet" href="stylesheets/app.css")
body
  header.page-header
    .page-header__logo
    .page-header__location-time-wrapper
      .page-header__location
        span
        | 454048, г. Челябинск, ул. Образцова, 25
      .page-header__time
        span
        |  с пн.-пт. с 9-00 до 19-00
    .page-header__mail
      a(href= "mailto:moll.avtolombard@mail.ru")
        | moll.avtolombard@mail.ru
    .page-header__tel
      | +7 922 183-12-52
    .page-header__tel-btn
      | Заказать звонок
    .burger.menu-btn

  div#fullpage
    .section.section1
      .container
        .section__title
          .section1__title1
            | ДЕНЬГИ ПОД ПТС
          .section1__title2
            | Автомобиль остается у Вас
        .section1__text
          | Для подачи заявки на займ под ПТС оставьте Ваши данные ниже и мы сами свяжемся с Вами в течении 2 минут
      form.section1__form(action="#" method="#")
        input(type="text" name="your-name" placeholder="Имя")
        input(type="tel" name="your-tel" placeholder="Телефон")
        .checkbox-wrapper
          .checkbox-wrapper__checkbox
            input(type="checkbox" checked)
            .checkbox
              span.checkbox__circle
              span.checkbox__yes.checkbox-active
                | да
              span.checkbox__no
                | нет
          .checkbox-wrapper__text
            .checkbox-wrapper__text-1
              | Даю согласие на
              a(href="#")Обработку персональных данных
            .checkbox-wrapper__text-2
              | Ваши данные не будут переданы третьим лицам
        a(href="#").btn.section1__form-btn
          | Звоните
      .section1__features
        .section1__features-item
          .section1__features-item-icon.section1__features-item-icon-1
          .section1__features-item-text
            | При заключении договора, деньги наличными сразу
        .section1__features-item
          .section1__features-item-icon.section1__features-item-icon-2
          .section1__features-item-text
            | Пересчет процентов за пользование займом по дням
        .section1__features-item
          .section1__features-item-icon.section1__features-item-icon-3
          .section1__features-item-text
            | Не требуются доверенность или договор купли-продажи

    .section.section2
      .container
        .section2__title-wrapper
          .section__title
            | процесс получения займа
          .section2__text
            | Три простых шага к получению нужной Вам денежной суммы
          a(href="#").btn.section1__form-btn
          | Получить займ
        .section2__item.section2__item-3
          .section2__item-icon.section2__item-icon-3
          .section2__item-text-wrapper
            .section2__item-digit
              | 03
            .section2__item-text
              | Приезжайте за своими деньгами
        .section2__item.section2__item-1
          .section2__item-icon.section2__item-icon-1
          .section2__item-text-wrapper
            .section2__item-digit
              | 01
            .section2__item-text
              | Позвоните или оставьте номер телефона
        .section2__item.section2__item-2
          .section2__item-icon.section2__item-icon-1
          .section2__item-text-wrapper
            .section2__item-digit
              | 02
            .section2__item-text
              | Узнайте решение в течение 30 минут

    .section.section3
      .container
    .section.section4
      .container
    .section.section5
      .container
    .section.section6
      .container
    .section.section7
      .container
    .section.section8
      .container
    .section.section9
      .container
    .section.section10
      .container

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
