@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/FuturaPT-Book.eot');
	src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Book.woff') format('woff'),
		url('../fonts/FuturaPT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro.eot');
	src: url('../fonts/Intro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro.woff') format('woff'),
		url('../fonts/Intro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
