body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    }

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  position: relative;

  max-width: 1200px;
  width: 100%;
  padding: 0 85px;
  margin: 0 auto;
}


.valid {
  border: solid 1px #accc3d;
}
input {
  position: relative;
  z-index: 20;
}

.hidden {
  display: none !important;
}

.slick-list {
  overflow: visible;
}

.slick-slide {
    &:focus, a {
      outline: none;
    }
  }

#prev:focus {
  outline: none;
}

#next:focus {
  outline: none;
}

label.error {
  font-size: 12px;
  display: none;
}

input.valid {
  border: solid 1px #accc3d;
}

input.error {
   border: solid 1px #d24a43;
}

textarea.valid {
  border: solid 1px #accc3d;
}

textarea.error {
   border: solid 1px #d24a43;
}

@media (max-width: 1368px) {
  .container {
    padding-left: 40px;
    padding-right: 0;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 0 18px;
  }
}

@media (max-width: 560px) {
  .container {
    padding: 0 12px;
  }
}

@media (max-width: 500px) {
  .section__title {
    text-align: center;

    &::after {
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 960px) {
  .container {
    //overflow: hidden;
    padding: 0 18px;
  }
}
